.register {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/bg-bitcoin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

.register_form-img{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.register_form-img img{
    padding-bottom: 30px;
    width: 130px;
}

.register_form-img h1{
    font-family: var(--font-family);
    color: #fff;
}

.register_form-img span{
    font-family: var(--font-family);
    color: #828282;
}

.register_form-content{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 40px;
}

.register_form-content label{
    color: #fff;
    font-family: var(--font-family);
    font-size: 20px;
    margin-bottom: 10px;
}

.register_form-content input{
    color: #fff;
    font-family: var(--font-family);
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #828282;
}





.register_form-content button{
    margin-top: 30px;
    background: none;
    background-color:  #061e4e;
    color: #fff;
     padding: 20px 40px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.register_form-content button:hover{
    margin-top: 30px;
    background: none;
    background-color:  #fff;
    color: #3671E9;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}



